<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestoranKu</title>
    <script src="https://kit.fontawesome.com/e32a180089.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/heros/favicon.ico" type="image/x-icon">
</head>

<body>
    <a href="#content" class="skip-link">Skip to Content</a>
    <Header>
        <img tabindex="0" class="logo" src="/images/heros/logo.png" alt="logo RestoranKu">
        <nav>
            <ul class="nav-menu">
                <li><a href="">Home</a></li>
                <li><a href="#">Fovourite</a></li>
                <li><a href="https://web.facebook.com/onaldlumowa.11/?_rdc=1&_rdr" target="_blank">About</a></li>
            </ul>
        </nav>

        <!--Button Hamburger-->
        <button class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </button>
    </Header>

    <section class="hero">
        <div class="hero-head">
            <h1 tabindex="0" class="hero-title">Web RestoranKu</h1>
            <p tabindex="0" class="hero-tag">Temukan Restoran Favorit Anda Sekarang</p>
        </div>
    </section>
    <section>
        <div id="content" class="content">
            <div class="latest">
                <h2 tabindex="0" class="latest-label">EXPLORE RESTAURANT</h2>
            </div>
    </section>
    <main id="mainContent">
        <div id="card" class="post"></div>
    </main>
    <footer>
        <p tabindex="0">Copyright © 2021 Restoranku</p>
    </footer>
</body>

</html>